$dark-0: #17181F;
$dark-1: #28293D;
$dark-2: #555770;
$dark-3: #8F90A6;
$dark-4: #C7C9D9;

$dark-5: #6E7191;
$dark-6: #3D3E5C;

$light-0: #E4E4EB;
$light-1: #EBEBF0;
$light-2: #F2F2F5;
$light-3: #FAFAFC;
$light-4: #FFFFFF;

$red-0: #E53535;
$red-1: #FF3B3B;
$red-2: #FF5C5C;

$green-0: #05A660;
$green-1: #06C270;
$green-2: #39D98A;

$blue-0: #004FC4;
$blue-1: #0063F7;
$blue-2: #5B8DEF;
$blue-3: #5865F2;

$yellow-0: #E5B800;
$yellow-1: #FFCC00;
$yellow-2: #FDDD48;

$orange-0: #E57A00;
$orange-1: #FF8800;
$orange-2: #FDAC42;

$teal-0: #00B7C4;
$teal-1: #00CFDE;
$teal-2: #73DFE7;

$purple-0: #4D0099;
$purple-1: #6600CC;
$purple-2: #AC5DD9;

$dark-outline: $dark-3;
$light-outline: $dark-4;
$red-outline: $red-1;
$green-outline: $green-1;
$blue-outline: $blue-1;
$yellow-outline: $yellow-1;
$orange-outline: $orange-1;
$teal-outline: $teal-1;
$purple-outline: $purple-1;

$brand-color: #3E7BFA;
$brand-color-dark: #3568D4;
$brand-color-light: #6698FA;
$brand-color-outline: $brand-color;

$text-color: #ffffff;
$text-color-secondary: $dark-3;
$bg-color: #28293D;
$bg-color-dark: #1C1C28;

$font-brand: 'Onest', sans-serif;
$basic-interval: 250ms;

$radius-large: 16px;
$radius-small: 8px;